* {
  font-family: 'DM Sans', sans-serif;
}

.btn {
  border: none;
  border-radius: 0.3125em;
  height: 4.3125em;
  width: 10.625em;
  font-weght: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn_primary {
  background-color: #901C1C;
  color: #FFFFFF;
}

.btn_secondary {
  background-color: #DB8876;
  color: #000000;
}

.btn_small {
  width: 10.625em;
  height: 2em;
}

select, option {
  background-color: #901C1C;
  border: none;
  color: #FFFFFF;
  border-radius: 0.3125em;
  height: 2em;
  width: 10.625em;
}

.sorting {
  border-radius: 0.3125em;
}

.bground {
  background-color: #DB8876;
  width: 20em;
  border-radius: 0.3125em;
}

#contact_form input:invalid {
  border: 3px solid red;
}

#contact_form input:valid {
  border: 3px solid green;
}

#contact_form input:focus {
  outline: none;
}

#contact-submit-btn {
  border: none !important;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

body .rounded_img {
  -o-object-fit: cover;
     object-fit: cover;
}

body #top_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3em 0 3em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  body header {
    max-width: 90vw;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body header a img {
    height: 2em;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2em;
  }
  body header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header nav ul li {
    margin: 0.1em;
  }
}

@media all and (min-width: 320px) and (max-width: 450px) {
  body main {
    position: relative;
  }
}

body main #page_title {
  margin: 1em 3em 1em 1.5em;
  font-weight: 100;
  color: #901C1C;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  body main #page_title {
    margin: 0;
    font-size: 1em;
    position: absolute;
    top: -8em;
    right: 2em;
  }
}

body main #photographers_section {
  margin: 0 3em 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  body main #photographers_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body main #photographers_section .photographer_card {
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 2em 0 2em 0;
}

body main #photographers_section .photographer_card .photographer_info, body main #photographers_section .photographer_card .photographer_location, body main #photographers_section .photographer_card .photographer_tagline, body main #photographers_section .photographer_card .photographer_price {
  margin: 0.5em 0 0.5em 0;
}

body main #photographers_section .photographer_card .photographer_name {
  margin: 0.5em 0 0 0;
  color: #DB8876;
}

body main #photographers_section .photographer_card .tags_links {
  padding: 0;
}

body main #photographers_section .photographer_card .photographer_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #901C1C;
}

.fa-chevron-right,
.fa-chevron-left,
.fa-times,
.fa-heart {
  color: #901C1C;
}

.previous,
.next,
.close_lightbox {
  display: none;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  .profile_header {
    margin: 0;
    max-width: 100%;
  }
}

.profile_header .header_logo {
  margin-top: 1em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  .profile_header .header_logo {
    margin-top: 2em;
    margin-left: 1em;
  }
}

@media all and (min-width: 320px) and (max-width: 450px) {
  .profile_header .header_logo img {
    height: 2em;
  }
}

main {
  width: 90vw;
  margin: auto;
}

main .photographer_presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFAFA;
  margin: 2em 0 1em 0;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_presentation {
    background-color: inherit;
    margin-top: 0;
  }
}

main .photographer_presentation .rounded_img {
  -o-object-fit: cover;
     object-fit: cover;
}

main .photographer_presentation .profile_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .photographer_presentation .profile_picture .profile_pic {
  margin-right: 3em;
  height: 12em;
  width: 12em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_presentation .profile_picture {
    margin-top: 2em;
    height: 6.5em;
    width: 6.5em;
  }
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_presentation .profile_picture .rounded_img {
    height: 5.5em;
    width: 5.5em;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 0;
  }
}

main .photographer_presentation #contact_btn {
  background-color: #901C1C;
  margin-top: 2.5em;
  color: white;
  font-size: 1em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_presentation #contact_btn {
    position: fixed;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    bottom: 0.9em;
    margin: 0;
    left: 30%;
    right: 30%;
    height: 2em;
    width: 7.5em;
    /* text-align: center; */
  }
}

main .photographer_presentation .photographer_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_presentation .photographer_details {
    padding: 0;
    max-width: 70%;
  }
}

main .photographer_presentation .photographer_details .photographer_name {
  color: #DB8876;
  font-size: 3em;
  margin-bottom: 0;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_presentation .photographer_details .photographer_name {
    margin-top: 0.5em;
    font-size: 2.3em;
  }
}

main .photographer_presentation .photographer_details .photographer_location {
  color: #901C1C;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

main .photographer_presentation .photographer_details .profile_tags .tags_links {
  padding: 0;
}

main .photographer_works {
  margin-bottom: 3em;
}

main .photographer_works .photographer_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_works .photographer_gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .photographer_works .photographer_gallery .gallery_item {
  width: 30%;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_works .photographer_gallery .gallery_item {
    width: 100%;
    margin: 1em 0 0 0;
  }
}

main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .preview_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .preview_info .img_title {
  width: 80%;
  color: #901C1C;
  font-weight: 700;
  font-size: 1.3em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .preview_info .img_title {
    font-size: 1em;
  }
}

main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .preview_info .number_likes {
  color: #901C1C;
  font-weight: 700;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .preview_info .number_likes {
    font-size: 1em;
  }
}

main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .preview_info .heart_icon {
  width: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3em;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .preview_info .heart_icon {
    font-size: 1em;
  }
}

main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .roundedCorner_img {
  width: 100%;
  height: 22em;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .photographer_works .photographer_gallery .gallery_item .lightbox_preview .roundedCorner_img {
    height: 12em;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

main .photographer_works .sorting {
  margin: 2em 0 2em 0;
}

main .bground {
  display: none;
  position: absolute !important;
  top: 3em;
  left: 25vw;
  right: 25vw;
  margin: auto;
  width: 25em;
  position: relative;
  padding-top: 2em;
}

main .bground.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  main .bground {
    width: 90vw !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }
}

main .bground .contact_name,
main .bground .modal_photographer_name {
  font-size: 2em;
  margin: 0 0 0.5em;
}

main .bground .input_name {
  font-size: 1.2em;
  margin: 0.2em;
  font-weight: 500;
}

main .bground .modal_content {
  width: 100%;
}

main .bground .formData {
  width: 100%;
}

main .bground .text-control {
  width: 100%;
  height: 3em;
  border-radius: 0.5em;
  border: none;
}

main .bground #contact_form {
  padding: 0 1.5em 0 1em;
}

main .bground #send_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .bground #contact-submit-btn {
  margin: 2em 0 2em 0;
  height: 3em;
  cursor: pointer;
}

main .bground #form_message {
  height: 8em;
}

main .bground #close_form {
  /* border: 3px solid blue; */
  position: absolute;
  right: 2em;
  top: 2em;
  display: none;
}

main .bground #close_form i {
  color: white;
  /* border: 3px solid red; */
  font-size: 2em;
}

.errorMesage {
  color: white;
}

#close_modal_btn {
  color: white;
  position: absolute;
  top: 1.3em;
  right: 1.5em;
  font-size: 2em;
  cursor: pointer;
}

#contact_btn {
  cursor: pointer;
  margin-left: 4em;
}

.bottom-bar {
  background-color: #DB8876;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 0.625em 0.625em 0 0;
  height: 3em;
  width: 15em;
  position: fixed;
  right: 15px;
  bottom: 0px;
}

.bottom-bar .bottom_heart {
  color: #901C1C;
}

@media all and (min-width: 320px) and (max-width: 450px) {
  footer {
    display: none;
  }
}

footer .bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
}

footer .likes_hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .likes_hearts i {
  margin-left: 0.5em;
}

#diaporama {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #808080B0;
}

#diaporama.show {
  display: block;
}

body {
  /* img {
        
      } */
}

body ul a {
  text-decoration: none;
}

body li {
  list-style-type: none;
}

body .rounded_img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

body .roundedCorner_img {
  border-radius: 0.3125em;
  width: 10em;
  height: 10em;
}

body .tags_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .tags_links li a {
  border: 1px solid grey;
  border-radius: 0.6875em;
  color: #901C1C;
  font-weight: 500;
  margin: 0 0.3em 0 0;
  padding: 0 0.5em 0 0.5em;
}

.profile {
  text-decoration: none;
  color: #DB8876;
}

.testclass {
  color: red;
}
/*# sourceMappingURL=style.css.map */