* {
  font-family: 'DM Sans', sans-serif;
}

.btn {
  border: none;
  border-radius: 0.3125em;
  height: 4.3125em;
  width: 10.625em;
  font-weght: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn_primary {
  background-color: #901C1C;
  color: #FFFFFF;
}

.btn_secondary {
  background-color: #DB8876;
  color: #000000;
}

.btn_small {
  width: 10.625em;
  height: 2em;
}

select, option {
  background-color: #901C1C;
  border: none;
  color: #FFFFFF;
  border-radius: 0.3125em;
  height: 2em;
  width: 10.625em;
}

.sorting {
  border-radius: 0.3125em;
}

.bground {
  background-color: #DB8876;
  width: 20em;
  border-radius: 0.3125em;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

body #top_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3em 0 3em;
}

body main #page_title {
  margin: 1em 3em 1em 1.5em;
  font-weight: 100;
  color: #901C1C;
}

body main #photographers_section {
  margin: 0 3em 0 3em;
  /* border: 3px solid green; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main #photographers_section .photographer_card {
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 3px solid red; */
  text-align: center;
  margin: 2em 0 2em 0;
}

body main #photographers_section .photographer_card .photographer_info, body main #photographers_section .photographer_card .photographer_location, body main #photographers_section .photographer_card .photographer_tagline, body main #photographers_section .photographer_card .photographer_price {
  margin: 0.5em 0 0.5em 0;
}

body main #photographers_section .photographer_card .photographer_name {
  margin: 0.5em 0 0 0;
}

body main #photographers_section .photographer_card .tags_links {
  padding: 0;
}

.fa-chevron-right, .fa-chevron-left, .fa-times, .fa-heart {
  color: #901C1C;
}

main {
  width: 90vw;
  margin: auto;
}

main .photographer_presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #FAFAFA;
}

main .photographer_presentation #contact_btn {
  background-color: #901C1C;
  margin-top: 3em;
  color: white;
  font-size: 1em;
}

main .photographer_presentation .photographer_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .photographer_presentation .photographer_details .photographer_name {
  color: #DB8876;
  font-size: 3em;
}

main .photographer_presentation .photographer_details .photographer_location {
  color: #901C1C;
}

main .bground {
  display: none;
}

body ul a {
  text-decoration: none;
}

body li {
  list-style-type: none;
}

body .rounded_img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

body .roundedCorner_img {
  border-radius: 0.3125em;
  width: 10em;
  height: 10em;
}

body .tags_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .tags_links li a {
  border: 1px solid grey;
  border-radius: 0.6875em;
  color: #901C1C;
  font-weight: 500;
  margin: 0 0.3em 0 0;
  padding: 0 0.5em 0 0.5em;
}

.profile {
  text-decoration: none;
  color: #DB8876;
}
/*# sourceMappingURL=style.css.map */