body {
    img {
        width: 10em;
        height: 10em;
      }
    
    ul a {
          text-decoration: none;
    }
    
    li {
          list-style-type: none;
      }
      .rounded_img {
            border-radius: 50%;
      }
      .roundedCorner_img {
            border-radius: 0.3125em;
      }
      .tags_links {
            display: flex;
            li a {
                  border: 1px solid grey;
                  border-radius: 0.6875em;
                  color: $primary_color;
                  font-weight: 500;
                  margin: 0 0.3em 0 0;
            }
      }
}

.profile {
      text-decoration: none;
      color: $secondary_color;
}

     
