body {
    .rounded_img {
        object-fit: cover;
    }
    max-width: 100vw;
    max-height: 100vh;
    #top_button{
        display: flex;
        justify-content: center;
        display: none;
    }
    header {
        @include mobile {
            max-width: 90vw;
            margin-left: 0;
            display: flex;
            flex-wrap: wrap;
                a img {
                    height: 2em;
                }
                nav {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 2em;
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            padding-left: 0;
                            margin: auto;
                            justify-content: center;
                                li {
                                    margin: 0.1em;
                                }
                        }
                }
        }
    display: flex;
    width: 65em;
    justify-content: space-between;
    margin: 0 3em 0 3em;
    }

    main {
        @include mobile {
            position: relative;
        }
        #page_title {
            @include mobile {
                margin: 0;
                font-size: 1em;
                position: absolute;
                top: -8em;
                right: 2em;
            }
            margin: 1em 3em 1em 1.5em;
            font-weight: 100;
            color: $primary_color;
        }
        #photographers_section {
            margin: 0 3em 0 3em; 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
                .photographer_card {
                    min-width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin: 2em 0 2em 0;
                        .photographer_info,.photographer_location,.photographer_tagline,.photographer_price {
                            margin: 0.5em 0 0.5em 0;
                        }
                        .photographer_name {
                            margin: 0.5em 0 0 0;
                        }
                        .tags_links {
                            padding: 0;
                        }
                        .photographer_location {
                            display: flex;
                            justify-content: center;
                            color: $primary_color;
                        }
                }
        }
    }

}