.fa-chevron-right,
.fa-chevron-left,
.fa-times,
.fa-heart {
    color: $primary_color;
}

header {
    .header_logo {
        margin-top: 1em;
    }
}

main {
    width: 90vw;
    margin: auto;
    .photographer_presentation {
        display: flex;
        background-color: $tertiary_color;
        margin: 2em 0 1em 0;
        .profile_picture {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
            .profile_pic {
                margin-right: 3em;
            }
        }
        #contact_btn {
            background-color: $primary_color;
            margin-top: 2.5em;
            color: white;
            font-size: 1em;
        }
        .photographer_details {
            display: flex;
            flex-direction: column;
            padding-left: 1em;
            .photographer_name {
                color: $secondary_color;
                font-size: 3em;
                margin-bottom: 0;
            }
            .photographer_location {
                color: $primary_color;
            }
            .profile_tags {
                .tags_links {
                    padding: 0;
                }
            }
        }
    }

    .photographer_works {
        /* border: 3px solid red; */
        .photographer_gallery {
            /* border: 3px solid green; */
            display: flex;
            justify-content: space-between;
            .gallery_item {
                /* border: 3px solid yellow; */
                width: 30%;
                .lightbox_preview {
                    /* border: 3px solid salmon; */
                    .preview_info {
                        /* border: 3px solid grey; */
                        display: flex;
                        .img_title {
                            /* border: 3px solid red; */
                            width: 80%;
                            color: $primary_color;
                            font-weight: 700;
                            font-size: 1.3em;
                        }
                        .number_likes {
                            color: $primary_color;
                            font-weight: 700;
                            font-size: 1.1em;
                            /* border: 3px solid blue; */
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            border: 3px solid red;
                        }
                        .heart_icon {
                            width: 0.1em;
                            display: flex;
                            flex-grow: 1;
                            justify-content: flex-end;
                            align-items: center;
                            font-size: 1.3em;
                            border: 3px solid green;
                        }
                    }
                    .roundedCorner_img {
                        width: 20em;
                        height: 20em;
                        object-fit: cover;
                    }
                }
            }
        }

        .sorting {
            margin: 2em 0 2em 0;
        }
    }

    .bground {
        display: none;
    }
}
