.bground {
    background-color: $secondary_color;
    width: 20em;
    border-radius: 0.3125em;
}

#contact_form input:invalid{
    border: 3px solid red;
}

#contact_form input:valid{
    border: 3px solid green;
}


#contact_form input:focus {
    outline: none;
}

#contact-submit-btn {
    border: none !important;
}